# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
rich
python-dotenv
xmltodict
astronomer-cosmos
curl-cffi>=0.11.1
duckdb>=1.2.2
polars==1.29.0